body {
    margin: 0;
}

#main {
    display: flex;
    flex-flow: column;
}

#form {
    display: flex;
    flex-flow: column;
    text-align: center;
    background: wheat;
    padding: 16px;
    margin: 12px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
}

#form > * {
    margin: 8px;
}

#display {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.images {
    padding: 12px;
    margin: 16px;
    background: lightgrey;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.images > img {
    height: auto;
    width: 300px;
}

.mapBox {
    background: green;
    width: 300px;
    height: 300px;
}

