body {
    background: #dabfbf !important;
}

#main {
    display: flex;
    flex-flow: column;
    background: #dabfbf;
}

#form {
    display: flex;
    flex-flow: column;
    text-align: center;
    background: wheat;
    padding: 16px;
    margin: 12px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
}

#form > * {
    margin: 8px;
}

#display {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.images {
    padding: 12px;
    margin: 16px;
    background: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.images > img {
    height: 300px;
    width: auto;
}

.caption {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
    text-align: center;
}

.mapBox {
    background: green;
    width: 300px;
    height: 300px;
}

